models/__pycache__/__init__.cpython-310.pyc
models/__pycache__/base_model.cpython-310.pyc
test_base_model.py
__pycache__/datetime.cpython-310.pyc
tests/test_models/__pycache__/__init__.cpython-310.pyc
tests/test_models/__pycache__/test_base_model.cpython-310.pyc

.gitignore
test_base_model_dict.py
tests/test_models/__pycache__/test_task4.cpython-310.pyc
tests/test_models/__pycache__/test_task3.cpython-310.pyc
models/__pycache__/engine/__init__.py

